[submodule ".make"]
	path = .make
	url = https://gitlab.com/ska-telescope/sdi/ska-cicd-makefile.git
[submodule "lib/common-test-infrastructure"]
	path = lib/common-test-infrastructure
	url = https://gitlab.com/ska-telescope/ska-mid-cbf-common-test-infrastructure.git
